﻿<!DOCTYPE html>
<html data-ng-app>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
      @Scripts.Render("~/bundles/angular")

</head>
<body>
    
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
  
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/amplify.js")
    @Scripts.Render("~/Scripts/app/personnelController.js")
     @Scripts.Render("~/Scripts/app/loginController.js")
    @Scripts.Render("~/Scripts/app/demoApp.Controller.js")
    @RenderSection("scripts", required: false)
   
</body>
</html>
