﻿<div data-ng-controller="demoAppController" data-ng-cloak >
    <div class="navbar">
        <div class="navbar-inner navbar-inner">
            <div class="container">
                <h1 class="pull-left title"  >{{title}}</h1>
                <div class="pull-right">
                    <form>
                    <div class="control-group" style="margin-top: 15px" data-ng-hide="getUserIsLoggedIn()">
                        <input type="text" id="username" placeholder="Username" data-ng-model="username" />
                        <input type="password" id="password" placeholder="Password" data-ng-model="password" />
                        <button type="submit" class="btn btn-primary" style="margin-top: -10px" data-ng-click="login()">
                            Log in</button>
                    </div>
                        </form>
                    <div data-ng-show="getUserIsLoggedIn()" style="margin-top: 15px">
                        <span  class="lead" style="margin-right:10px">Hi {{fullName}}</span>
                        <button type="button" class="btn btn-primary" style="margin-top: -10px" data-ng-click="logout()">
                            Log out</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <ul class="unstyled">
                    <li>
                        <button class="btn  btn-large btn-block" data-ng-click="getInfo()">View General</button>
                    </li>
                    <li>
                        <button class="btn  btn-large btn-block" data-ng-click="addInfo()">Add New Info</button>
                    </li>
                    <li>
                        <button class="btn  btn-large btn-block" data-ng-click="updateInfo()">update Info</button>
                    </li>
                    <li>
                        <button class="btn  btn-large btn-block" data-ng-click="deleteInfo()">Delete Info</button>
                    </li>
                    <li>
                        <button class="btn  btn-large btn-block" data-ng-click="viewSecrets()">View Secrets</button>
                    </li>
                </ul>


            </div>
            <div class="span10">
                <h2>{{information}}</h2>
            </div>
        </div>
    </div>

</div>
